<h1>All Products</h1>
<table>
		<tr>
			<th>Product name</th>
			<th>Category</th>
			<th>Price</th>
			<th>Operation</th>
		</tr>
</table>	

<% @products.each do |product|%>

<table>
		<tr>
			<th><%= product.name %></th>
			<th><%= product.category%></th>
			<th><%= product.price %></th>
			<th><%= link_to('Show', {:action=>'show', :id=>product.id})%></th>
		</tr>
</table>	
	  
<%end%>



